html, body {
  width: 100vw;
  height: 100vh;
  color: white;
  background: url(http://www.westcoasttrustsestates.com/files/2015/04/I-Stock-Basketball-Court.jpg) no-repeat center;
  display: flex;
  align-items: center;
  justify-content: center;
}
