button {
  background: transparent;
  border: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid purple;
  background: #EDF1F2;
  padding: 1rem 4rem;
  color: blue;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
